body {
    font-family: Arial, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px 0;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Only apply checkboxes to items with 'checked' or 'unchecked' class */
li.checked, li.unchecked {
    margin-bottom: 10px;
    padding-left: 25px;
    position: relative;
}

li.checked::before, li.unchecked::before {
    content: '';
    position: absolute;
    left: 0;
    top: 4px;
    width: 15px;  /* Reduced size */
    height: 15px; /* Reduced size */
    border: 2px solid #333;
    border-radius: 3px;
}

/* Checked box with checkmark */
li.checked::before {
    content: '\2713'; /* Checkmark symbol */
    color: white;
    background-color: #2196F3;
    text-align: center;
    line-height: 15px;  /* Adjust to fit smaller box */
    font-weight: bold;
    border-color: #2196F3;
}

/* Checked items will be crossed out and greyed out */
li.checked {
    text-decoration: line-through;
    color: gray;
}

/* Unchecked items keep the default styling */
li.unchecked::before {
    background-color: white;
}

/* Other list items (without checked or unchecked) won't have checkboxes */
li:not(.checked):not(.unchecked) {
    padding-left: 0;
}

.label {
    display: inline-block;
    padding: 4px 8px;
    margin: 2px;
    border-radius: 4px;
    font-size: 12px;
    color: #fff;
}
/* physbench */
.language {
    background-color: #b5651d; /* 棕色 */
}

.human {
    background-color: #c99f5d; /* 浅棕色 */
}

.vision {
    background-color: #8fa8c8; /* 蓝色 */
}

.synthetic {
    background-color: #e3acb3; /* 粉色 */
}

.property {
    background-color: #9fb7b9; /* 浅蓝 */
}

.phenomena {
    background-color: #c3999c; /* 浅棕色 */
}

.spatial-relation {
    background-color: #e9d084; /* 黄色 */
}
.vlm {
    background-color: #b5b5b5; /* 根据实际颜色调整 */
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
}
.llm {
    background-color: #d1b5d5; /* 根据实际颜色调整 */
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    display: inline-block;
}
/* vlt */
.flow {
    background-color: #c3999c; /* 浅棕色 */
}
.threed {
    background-color: #b5651d; /* 棕色 */
}
.vla {
    background-color: #e9d084; /* 黄色 */
}